@import url('https://fonts.googleapis.com/css2?family=Nothing+You+Could+Do&family=The+Girl+Next+Door&display=swap');

body {
  background-color: #ffae45;
}

.quote-box {
  padding: 50px;
  display: block;
  text-align: center;
  max-width: 600px;
  margin: 0 auto;
  margin-top: 30vh;
  border-radius: 40px;
  background-color: #fff;
  box-shadow: 1px 2px 3px ;
}

.quote-box h1 {
  font-family: 'The Girl Next Door', cursive;
  font-size: 60px;
  font-weight: lighter;
  color: #ffae45;
}

.quote-box p {
  font-size: 30px;
  color: #ffae45;
}

.new-quote {
  padding: 0;
  width: 150px;
  margin: auto 50px 0 auto;
}

.new-quote button{
  color: #ffae45;
  padding: 15px 15px;
  border-radius: 10px;
  border: 1px solid #ffae45;
  background-color: #fff;
  font-size: 20px;
}

.new-quote button:hover {
  background-color: #ffae45;
  color: #fff;
}

